* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid { /*faz um enchimento para dentro dos elementos filhos, ao redor*/
    padding: 15px;;
}

.grid::after { /*adiciona um elemento vazio para cada filho e limpa para que elementos-tio n entrem no lugar*/
    content: '';
    display: block;
    clear: both;
}

.grid .col { /*Ajeita os elementos filhos dentro do pai (grid)*/
    width: 33.33%;
    height: 300px;
    float: left;
    padding: 15px;
}

.grid .conteudo { /*filhos de col, o padding do grid faz enchimento para dentro de seu conteudo entre os netos (div com class="conteudo")*/
    width: 100%;
    height: 100%;
    background: red;
}

@media (max-width: 320px){ /*o mesmo que @media all (max-width: 320px)*/
    .grid .col{
        width: 100%;
    }
}

@media (min-width: 321px) and (max-width: 768px) {
    .grid .col{
        width: 50%;
    }
}