* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background: yellow;
    height: 500px;
}

.flex-item{
    color: aliceblue;
    width: 100%;
    background: red;
    margin: 10px;
}

.flex-item:nth-child(3){
    font-size: 40px;
}