*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-size: 30px;
}

.grid{
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 0 auto;
}

.grid div{
    display: grid;
    background: fuchsia;
    min-height: 100px;
}

.grid div:nth-child(5){
    background: darkblue;
    grid-row: span 8;
}


.grid div:nth-child(5){ /*a celula 5 fica por cima da celula 6*/
    background-color: yellow;
    z-index: 1;
}