*{
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.pattern{
    font-size: 2rem;
    width: 50vw;
    height: 100vh;
}


.div1 {
    background: darkmagenta;
}

.div2 {
    background: darkcyan;
}

.div3 {
    background:darkgoldenrod;
}

a {
    font-size: 1.6rem;
    margin: 10px;
}