* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;
    background: yellow;
}

.flex-item{
    flex-grow: 1;
    flex-basis: 320px;
    flex-shrink: 1;
    height: 200px;
    color: aliceblue;
    background: red;
}


