* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
    background: yellow;
    height: 800px;
}

.flex-item{
    width: 100%;
    color: aliceblue;
    background: red;
}

.flex-item:nth-child(1){
    order: -1;
}

.flex-item:nth-child(2){
    order: -2;
}

.flex-item:nth-child(3){
    order: -3;
}

.flex-item:nth-child(4){
    order: -4;
}

.flex-item:nth-child(5){
    order: -5;
}

/*
.flex-item:nth-child(3){
    align-self: flex-end;
}

.flex-item:nth-child(4){
    align-self: center;
}

.flex-item:nth-child(2){
    align-self: stretch;
}*/

/*
.flex-item:nth-child(2){
    flex: 10 1 320px; /*a medida que os espaços em branco aumentam o elemento recebe mais espaço
    background-color: purple;
}*/