* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;
    background: yellow;
}

.flex-item{
    width: 32%;
    height: 200px;
    margin-bottom: 2%;
    color: aliceblue;
    background: red;
}


