html {
    font-size: 62.5%; /*62.5%16px=10px*/
    scroll-behavior: smooth; 
}

* {
    margin: 0;
    padding: 0;
}

.pai {
    width: 50rem; /*=500px*/
    height: 100vh;
    background: yellow;
}

.pai > div {
    width: 50%;
    height: 50rem;
    background: blue;
}

p {
    /*font-size: 2rem; 2rem= 10px * 2 = 20px*/
    font-size: 2vmax; /*2% da viewport (altura se for a maior ou largura se for a maior, o mesmo vale para o vmin)*/
}

.color-one {
    background: turquoise;
}

.color-two {
    background: violet;
}
