* {
    margin: 0;
    padding: 0;
}

.color-red{
    color: red;
}

body.error div.main-content h2.heading{
    color: red;
    font-style: italic;
}

div {
    color: initial;
}

.pai{
    color: red
}