/*
Especificidade - Prioridade 
0 ID ESPECIFICIDADE = 1,0,0 (igual a 100)
1 Classes ESPECIFICIDADE = 1,0 (igual a 10)
2 Atributos 
3 Pseudo-classes
4 Elementos 0,0,1 (igual a 1)
5 Pseudo-elementos 0,0,1 (igual a 1)
*/

#p {
    background: red;
}

#p.p {
    background: yellow;
}

body#b.bclass p#p.p::selection:hover{
    background: purple;
}

body div ul li a{ 5 de especificidade

}
