*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-size: 30px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.grid{
    display: grid;
    grid-template-rows: auto auto auto; /*o auto ao final é para a coluna se auto-ajustar na tela*/
    grid-template-columns: 200px 1fr;
    grid-template-areas: 
    'header header' /*ao repetir o nome desta forma, estamos pontuando que queremos que o elemento se repita para ambas as colunas definidas*/
    'nav main'
    'footer footer';
}

/*nomeando elementos*/

.grid div:nth-child(1){
    background: red;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.grid div:nth-child(2){
    background: yellow;
    grid-area: nav;
}

.grid div:nth-child(3){
    background: purple;
    grid-area: main;
}

.grid div:nth-child(4){
    background: turquoise;
    grid-area: footer;
}

@media (max-width: 768px){
    
.grid{
    display: grid;
    grid-template-rows: auto auto auto; /*o auto ao final é para a coluna se auto-ajustar na tela*/
    grid-template-columns: auto auto;
    grid-template-areas: 
    'header'
    'main'
    'nav'
    'footer';
}
}
