* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid { /*faz um enchimento para dentro dos elementos filhos, ao redor*/
    padding: 15px;;
}

.grid::after { /*adiciona um elemento vazio para cada filho e limpa para que elementos-tio n entrem no lugar*/
    content: '';
    display: block;
    clear: both;
}

.grid .col { /*Ajeita os elementos filhos dentro do pai (grid)*/

    height: 300px;
    float: left;
    padding: 15px;
}

.grid .conteudo { /*filhos de col, o padding do grid faz enchimento para dentro de seu conteudo entre os netos (div com class="conteudo")*/
    width: 100%;
    height: 100%;
    background: red;
}

@media all and (max-width: 568px){ /*o mesmo que @media all and (max-width: 320px)
    all = todos os dispositivos*/
    .grid .col{
        width: 100%;
    }
}

@media (min-width: 569px) and (max-width: 768px) { /*Para telas de no minimo 569 e no maximo 768*/
    .grid .col{
        width: 50%;
    }
}

@media all and (min-width: 769px) and (max-width: 1200px) { /*para telas de no minimo 769 e no maximo 1200*/
    .grid .col{
        width: 50%;
    }
}

@media all and (min-width: 1200px){ /*ficam 4 colunas para telas de 1200px para cima*/
    .grid .col{
        width: 25%;
    }
}