html{
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*ao adicionar o box-sizing o padding é incluído no edge content
    para todos os elementos da página forçando a eles, a se somar para dar o tamanho pré-estabelecido*/
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menu {
    background-color: #0682a1;
    font-size: 1.8rem;
    scroll-behavior: smooth;
    position: fixed;
    width: 100vw;
}

.menu nav ul {
    padding: 15px;
}

.menu nav li {
    display: inline;
    padding: 1.5rem;
}

.menu nav a {
    text-decoration: none;
    color: azure;
    padding: 1.6rem;
}

.menu nav a:hover{
    background-color: rgba(0, 0, 0, 0.8);
}


.pai {
    padding: 10px;
    height: 100vh;
}

.pai::after {
    content: '';
    clear: both;
    display: block;
}

.pai .filha {
    padding: 10px;
    width: 33.33%;
    height: 300px;
    float: left;
}

.pai .conteudo {
    background: #f00;
    height: 100%;
    width: 100%;
}

p {
    clear: both;
    font-size: 1.6rem;
}

.irmao1{
    background-color: #24a78a;
    height: 100vh;
}

.irmao2 {
    background-color: #b91776;
    height: 100vh;
}